.dart_tool/
tools/bundle-debug.txt


.DS_Store
*.gz
*.aux
*.log
*.bbl
*.blg
*.fdb_latexmk
*.fls

*_COMPILED.json
*_COMPILED_2.json

userdata/

tools/mathebuddy.app/Contents/Frameworks/App.framework/Versions/A/Resources/flutter_assets/assets/bundle-debug.json
